<div class="video-wrap"> 
  <div class="text-white">
    <div class="video-unit">
      <div class="video-container" style="width: 100%;"> 
        <video class="main-video hidden-sm hidden-xs" autoplay loop>
          <source src="/static/videos/sunset_final_20fps.webm" type="video/webm; codecs=vp8, vorbis" />
          <source src="/static/videos/sunset_final_20fps.mp4" type="video/mp4" />
          <source src="/static/videos/sunset_final_20fps.ogg" type="video/ogg; codecs=vp8, vorbis" />
        </video>
        <div class="dark-overlay"></div>
        <div class="video-text-overlay">
          <h1 class="text-center text-white">{{ site.title }}</h1>
          <p class="text-center text-white">{{ site.description | markdownify }}</p>
          <!-- <h3 class="text-center"><a class="btn btn-success" href="/about"><b>Learn more </b><i class="fa fa-arrow-right"></i></a></h3> --> 
        </div>
      </div>
    </div>
  </div>
</div>