<div class="fullscreen-bg"> 
  <video class="hidden-sm hidden-xs" autoplay loop>
    <source src="/static/videos/sunset_final_20fps.webm" type="video/webm; codecs=vp8, vorbis" />
    <source src="/static/videos/sunset_final_20fps.mp4" type="video/mp4" />
    <source src="/static/videos/sunset_final_20fps.ogg" type="video/ogg; codecs=vp8, vorbis" />
  </video>
  <h2 class="text-center text-white">
    {{ site.title }}
  </h2>
  <p class="text-center text-white">
    {{ site.description | markdownify }}
  </p>
  <a href="#one" class="more scrolly">&nbsp;</a>
</div>